@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@theme {
  --color-primary-50:  #eef3f8;
  --color-primary-100: #dde7f1;
  --color-primary-200: #bdd0e3;
  --color-primary-300: #98b4d0;
  --color-primary-400: #7394bb;
  --color-primary-500: #5577a3;
  --color-primary-600: #446084;
  --color-primary-700: #374d69;
  --color-primary-800: #2d3f56;
  --color-primary-900: #222f40;
  --color-primary-950: #121921;

  --color-background: var(--color-primary-900);

  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Outfit", sans-serif;

  --padding-md: 0.5rem;
  --padding-lg: 2rem;
}

text-medium {
  @apply text-3xl;
}

body {
  @apply bg-background;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}